In [55]:
import numpy as np
import pandas as pd

In [56]:
All_columns =["POOL_ID", "LOAN_ID", "ACT_PERIOD", "CHANNEL", "SELLER", "SERVICER",
                        "MASTER_SERVICER", "ORIG_RATE", "CURR_RATE", "ORIG_UPB", "ISSUANCE_UPB",
                        "CURRENT_UPB", "ORIG_TERM", "ORIG_DATE", "FIRST_PAY", "LOAN_AGE",
                        "REM_MONTHS", "ADJ_REM_MONTHS", "MATR_DT", "OLTV", "OCLTV",
                        "NUM_BO", "DTI", "CSCORE_B", "CSCORE_C", "FIRST_FLAG", "PURPOSE",
                        "PROP", "NO_UNITS", "OCC_STAT", "STATE", "MSA", "ZIP", "MI_PCT",
                        "PRODUCT", "PPMT_FLG", "IO", "FIRST_PAY_IO", "MNTHS_TO_AMTZ_IO",
                        "DLQ_STATUS", "PMT_HISTORY", "MOD_FLAG", "MI_CANCEL_FLAG", "Zero_Bal_Code",
                        "ZB_DTE", "LAST_UPB", "RPRCH_DTE", "CURR_SCHD_PRNCPL", "TOT_SCHD_PRNCPL",
                        "UNSCHD_PRNCPL_CURR", "LAST_PAID_INSTALLMENT_DATE", "FORECLOSURE_DATE",
                        "DISPOSITION_DATE", "FORECLOSURE_COSTS", "PROPERTY_PRESERVATION_AND_REPAIR_COSTS",
                        "ASSET_RECOVERY_COSTS", "MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS",
                        "ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY", "NET_SALES_PROCEEDS",
                        "CREDIT_ENHANCEMENT_PROCEEDS", "REPURCHASES_MAKE_WHOLE_PROCEEDS",
                        "OTHER_FORECLOSURE_PROCEEDS", "NON_INTEREST_BEARING_UPB", "PRINCIPAL_FORGIVENESS_AMOUNT",
                        "ORIGINAL_LIST_START_DATE", "ORIGINAL_LIST_PRICE", "CURRENT_LIST_START_DATE",
                        "CURRENT_LIST_PRICE", "ISSUE_SCOREB", "ISSUE_SCOREC", "CURR_SCOREB",
                        "CURR_SCOREC", "MI_TYPE", "SERV_IND", "CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT",
                        "CUMULATIVE_MODIFICATION_LOSS_AMOUNT", "CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS",
                        "CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS", "HOMEREADY_PROGRAM_INDICATOR",
                        "FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT", "RELOCATION_MORTGAGE_INDICATOR",
                        "ZERO_BALANCE_CODE_CHANGE_DATE", "LOAN_HOLDBACK_INDICATOR", "LOAN_HOLDBACK_EFFECTIVE_DATE",
                        "DELINQUENT_ACCRUED_INTEREST", "PROPERTY_INSPECTION_WAIVER_INDICATOR",
                        "HIGH_BALANCE_LOAN_INDICATOR", "ARM_5_YR_INDICATOR", "ARM_PRODUCT_TYPE",
                        "MONTHS_UNTIL_FIRST_PAYMENT_RESET", "MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET",
                        "INTEREST_RATE_CHANGE_DATE", "PAYMENT_CHANGE_DATE", "ARM_INDEX",
                        "ARM_CAP_STRUCTURE", "INITIAL_INTEREST_RATE_CAP", "PERIODIC_INTEREST_RATE_CAP",
                        "LIFETIME_INTEREST_RATE_CAP", "MARGIN", "BALLOON_INDICATOR",
                        "PLAN_NUMBER", "FORBEARANCE_INDICATOR", "HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR",
                        "DEAL_NAME", "RE_PROCS_FLAG", "ADR_TYPE", "ADR_COUNT", "ADR_UPB"]

len(All_columns)

108

In [83]:
current_size = 1000000
# generate 2015 , 2016 data as well
chunks = pd.read_csv("Zip_files/2017Q1.zip", compression='zip', sep = '|', 
                     header=None, names=All_columns, on_bad_lines='skip', 
                     chunksize = current_size)

In [84]:
for chunk in chunks:
    data = chunk
    break

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\996560739.py:1: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:

In [85]:
all_null_columns = []
for column in All_columns:
    print(column, len(data[column].unique()), end=' ')
    nulls = data[column].isnull().sum()
    if nulls==current_size:
        all_null_columns.append(column)
    print(nulls)

POOL_ID 1 1000000
LOAN_ID 19546 0
ACT_PERIOD 75 0
CHANNEL 3 0
SELLER 47 2
SERVICER 44 12943
MASTER_SERVICER 1 1000000
ORIG_RATE 189 0
CURR_RATE 190 12934
ORIG_UPB 620 0
ISSUANCE_UPB 1 1000000
CURRENT_UPB 770214 0
ORIG_TERM 68 0
ORIG_DATE 17 0
FIRST_PAY 15 0
LOAN_AGE 93 12943
REM_MONTHS 437 12943
ADJ_REM_MONTHS 376 17232
MATR_DT 197 12943
OLTV 92 0
OCLTV 100 0
NUM_BO 5 0
DTI 48 51
CSCORE_B 212 342
CSCORE_C 210 525330
FIRST_FLAG 2 0
PURPOSE 3 0
PROP 5 0
NO_UNITS 4 0
OCC_STAT 3 0
STATE 54 0
MSA 389 0
ZIP 836 0
MI_PCT 9 753345
PRODUCT 1 0
PPMT_FLG 1 0
IO 1 0
FIRST_PAY_IO 1 1000000
MNTHS_TO_AMTZ_IO 1 1000000
DLQ_STATUS 51 0
PMT_HISTORY 14732 676476
MOD_FLAG 3 12935
MI_CANCEL_FLAG 1 1000000
Zero_Bal_Code 8 987057
ZB_DTE 75 987057
LAST_UPB 12733 987060
RPRCH_DTE 1 1000000
CURR_SCHD_PRNCPL 1 1000000
TOT_SCHD_PRNCPL 130619 683078
UNSCHD_PRNCPL_CURR 1 1000000
LAST_PAID_INSTALLMENT_DATE 22 999977
FORECLOSURE_DATE 18 999977
DISPOSITION_DATE 17 999979
FORECLOSURE_COSTS 22 999979
PROPERTY_PRESERVATION_AND_REPAIR_COSTS 17 999979
ASSET_RECOVERY_COSTS 7 999979
MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS 19 999979
ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY 18 999979
NET_SALES_PROCEEDS 22 999979
CREDIT_ENHANCEMENT_PROCEEDS 9 999979
REPURCHASES_MAKE_WHOLE_PROCEEDS 2 999979
OTHER_FORECLOSURE_PROCEEDS 12 999979
NON_INTEREST_BEARING_UPB 27 995706
PRINCIPAL_FORGIVENESS_AMOUNT 2 986924
ORIGINAL_LIST_START_DATE 1 1000000
ORIGINAL_LIST_PRICE 1 1000000
CURRENT_LIST_START_DATE 1 1000000
CURRENT_LIST_PRICE 1 1000000
ISSUE_SCOREB 1 1000000
ISSUE_SCOREC 1 1000000
CURR_SCOREB 1 1000000
CURR_SCOREC 1 1000000
MI_TYPE 3 753345
SERV_IND 3 12943
CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT 1 1000000
CUMULATIVE_MODIFICATION_LOSS_AMOUNT 1 1000000
CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS 1 1000000
CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS 1 1000000
HOMEREADY_PROGRAM_INDICATOR 4 0
FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT 2 986924
RELOCATION_MORTGAGE_INDICATOR 2 0
ZERO_BALANCE_CODE_CHANGE_DATE 1 1000000
LOAN_HOLDBACK_INDICATOR 1 1000000
LOAN_HOLDBACK_EFFECTIVE_DATE 1 1000000
DELINQUENT_ACCRUED_INTEREST 1 1000000
PROPERTY_INSPECTION_WAIVER_INDICATOR 2 0
HIGH_BALANCE_LOAN_INDICATOR 2 0
ARM_5_YR_INDICATOR 1 1000000
ARM_PRODUCT_TYPE 1 1000000
MONTHS_UNTIL_FIRST_PAYMENT_RESET 1 1000000
MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET 1 1000000
INTEREST_RATE_CHANGE_DATE 1 1000000
PAYMENT_CHANGE_DATE 1 1000000
ARM_INDEX 1 1000000
ARM_CAP_STRUCTURE 1 1000000
INITIAL_INTEREST_RATE_CAP 1 1000000
PERIODIC_INTEREST_RATE_CAP 1 1000000
LIFETIME_INTEREST_RATE_CAP 1 1000000
MARGIN 1 1000000
BALLOON_INDICATOR 1 1000000
PLAN_NUMBER 1 1000000
FORBEARANCE_INDICATOR 6 668670
HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR 1 0
DEAL_NAME 1 1000000
RE_PROCS_FLAG 3 987057
ADR_TYPE 6 668670
ADR_COUNT 4 989844
ADR_UPB 571 989901

In [86]:
data.drop(all_null_columns, axis=1, inplace = True)

In [87]:
d1 = data[data['Zero_Bal_Code'].notnull()]
print(d1.shape)

(12943, 68)

In [89]:
need_zbc = [2.0,3.0,9.0,15.0]

d1 = data[data['Zero_Bal_Code'].isin(need_zbc)]

#Loading all data

In [90]:
i = 1
for chunk in chunks:
    data2 = chunk
    
    data2.drop(all_null_columns, axis=1, inplace = True)
    d2 = data2[data2['Zero_Bal_Code'].isin(need_zbc)]
    d1 = d1.append(d2)
    print(i, d2.shape)
    i+=1

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

1 (23, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

2 (18, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

3 (20, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

4 (26, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

5 (22, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

6 (22, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (40,101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

7 (23, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

8 (27, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

9 (22, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

10 (22, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

11 (17, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

12 (28, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

13 (27, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

14 (23, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

15 (26, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

16 (16, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (40,101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

17 (24, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (40,101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

18 (24, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

19 (21, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (40,78,101,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

20 (24, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

21 (23, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (40,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

22 (19, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (78,105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:
C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

23 (26, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:2: DtypeWarning: Columns (105) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunks:

24 (20, 68)

C:\Users\prith\AppData\Local\Temp\ipykernel_18756\2063453427.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2)

In [91]:
d2

,LOAN_ID,ACT_PERIOD,CHANNEL,SELLER,SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,CURRENT_UPB,ORIG_TERM,...,FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT,RELOCATION_MORTGAGE_INDICATOR,PROPERTY_INSPECTION_WAIVER_INDICATOR,HIGH_BALANCE_LOAN_INDICATOR,FORBEARANCE_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,RE_PROCS_FLAG,ADR_TYPE,ADR_COUNT,ADR_UPB
24057100,968795215565,92022,C,"AmeriHome Mortgage Company, LLC",NaN,3.875,3.875,250000.0,0.0,360,...,NaN,N,A,N,7,N,N,7,NaN,NaN
24067639,969154181551,12020,C,Other,NaN,3.875,NaN,222000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24087598,969805813581,32020,R,"Loandepot.Com, Llc",NaN,5.125,NaN,60000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24168575,972663127957,112019,R,Quicken Loans Inc.,NaN,3.250,NaN,81000.0,0.0,180,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24255812,975855490470,42021,R,"JPMorgan Chase Bank, National Association",NaN,5.000,5.000,90000.0,0.0,360,...,NaN,N,A,N,7,N,N,7,NaN,NaN
24308142,977767510350,72018,R,Other,NaN,4.125,NaN,309000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24364193,979893223315,62022,C,"Wells Fargo Bank, N.A.",NaN,3.875,3.875,416000.0,0.0,360,...,NaN,N,A,N,7,N,N,7,NaN,NaN
24408621,981498191226,92020,R,Other,NaN,5.125,5.125,57000.0,0.0,360,...,NaN,N,A,N,7,N,N,7,NaN,NaN
24478890,983928239841,12022,R,"Wells Fargo Bank, N.A.",NaN,4.875,4.875,116000.0,0.0,360,...,NaN,N,A,N,7,N,N,7,NaN,NaN
24526218,985545932746,72019,C,Other,NaN,5.125,NaN,190000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24650161,990066511002,122021,R,Other,NaN,4.000,4.000,168000.0,0.0,360,...,NaN,N,A,N,7,N,N,7,NaN,NaN
24670254,990822142310,22019,C,Pmtt4,NaN,4.875,NaN,147000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24714843,992417459722,122019,B,Freedom Mortgage Corp.,NaN,4.750,NaN,94000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24743854,993479568879,112022,C,"Wells Fargo Bank, N.A.",NaN,3.875,3.875,417000.0,0.0,360,...,0.0,N,A,N,7,N,N,C,1.0,6642.9
24765808,994286173574,112020,R,"Quicken Loans, LLC",NaN,4.500,4.500,83000.0,0.0,360,...,NaN,N,A,N,7,N,N,7,NaN,NaN
24790076,995180707501,102019,R,"Wells Fargo Bank, N.A.",NaN,3.875,NaN,415000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24813782,995987981783,32020,C,Other,NaN,4.125,NaN,80000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24864264,997900070360,12020,R,Quicken Loans Inc.,NaN,4.750,NaN,96000.0,0.0,360,...,NaN,N,A,N,NaN,N,N,NaN,NaN,NaN
24881516,998520440605,32023,R,Truist Bank (formerly SunTrust Bank),NaN,3.490,3.490,129000.0,0.0,300,...,NaN,N,A,N,7,N,N,7,NaN,NaN
24921847,999945355679,112022,C,"Wells Fargo Bank, N.A.",NaN,3.875,3.875,136000.0,0.0,360,...,0.0,N,A,N,7,N,N,7,NaN,NaN

In [95]:
d1['Zero_Bal_Code']

24057100     2.0
24067639     9.0
24087598     9.0
24168575     9.0
24255812     2.0
24308142     3.0
24364193     2.0
24408621     9.0
24478890     2.0
24526218     2.0
24650161     9.0
24670254     9.0
24714843     2.0
24743854    15.0
24765808     2.0
24790076     2.0
24813782     9.0
24864264     9.0
24881516     9.0
24921847    15.0
Name: Zero_Bal_Code, dtype: float64

In [93]:
#d1.to_csv('2017Q1.csv', index=False)

# data _lookup

In [14]:
dict(zip(list(range(1, len(All_columns)+1)), All_columns))

{1: 'POOL_ID',
 2: 'LOAN_ID',
 3: 'ACT_PERIOD',
 4: 'CHANNEL',
 5: 'SELLER',
 6: 'SERVICER',
 7: 'MASTER_SERVICER',
 8: 'ORIG_RATE',
 9: 'CURR_RATE',
 10: 'ORIG_UPB',
 11: 'ISSUANCE_UPB',
 12: 'CURRENT_UPB',
 13: 'ORIG_TERM',
 14: 'ORIG_DATE',
 15: 'FIRST_PAY',
 16: 'LOAN_AGE',
 17: 'REM_MONTHS',
 18: 'ADJ_REM_MONTHS',
 19: 'MATR_DT',
 20: 'OLTV',
 21: 'OCLTV',
 22: 'NUM_BO',
 23: 'DTI',
 24: 'CSCORE_B',
 25: 'CSCORE_C',
 26: 'FIRST_FLAG',
 27: 'PURPOSE',
 28: 'PROP',
 29: 'NO_UNITS',
 30: 'OCC_STAT',
 31: 'STATE',
 32: 'MSA',
 33: 'ZIP',
 34: 'MI_PCT',
 35: 'PRODUCT',
 36: 'PPMT_FLG',
 37: 'IO',
 38: 'FIRST_PAY_IO',
 39: 'MNTHS_TO_AMTZ_IO',
 40: 'DLQ_STATUS',
 41: 'PMT_HISTORY',
 42: 'MOD_FLAG',
 43: 'MI_CANCEL_FLAG',
 44: 'Zero_Bal_Code',
 45: 'ZB_DTE',
 46: 'LAST_UPB',
 47: 'RPRCH_DTE',
 48: 'CURR_SCHD_PRNCPL',
 49: 'TOT_SCHD_PRNCPL',
 50: 'UNSCHD_PRNCPL_CURR',
 51: 'LAST_PAID_INSTALLMENT_DATE',
 52: 'FORECLOSURE_DATE',
 53: 'DISPOSITION_DATE',
 54: 'FORECLOSURE_COSTS',
 55: 'PROPERTY_PRESERVATION_AND_REPAIR_COSTS',
 56: 'ASSET_RECOVERY_COSTS',
 57: 'MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS',
 58: 'ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY',
 59: 'NET_SALES_PROCEEDS',
 60: 'CREDIT_ENHANCEMENT_PROCEEDS',
 61: 'REPURCHASES_MAKE_WHOLE_PROCEEDS',
 62: 'OTHER_FORECLOSURE_PROCEEDS',
 63: 'NON_INTEREST_BEARING_UPB',
 64: 'PRINCIPAL_FORGIVENESS_AMOUNT',
 65: 'ORIGINAL_LIST_START_DATE',
 66: 'ORIGINAL_LIST_PRICE',
 67: 'CURRENT_LIST_START_DATE',
 68: 'CURRENT_LIST_PRICE',
 69: 'ISSUE_SCOREB',
 70: 'ISSUE_SCOREC',
 71: 'CURR_SCOREB',
 72: 'CURR_SCOREC',
 73: 'MI_TYPE',
 74: 'SERV_IND',
 75: 'CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT',
 76: 'CUMULATIVE_MODIFICATION_LOSS_AMOUNT',
 77: 'CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS',
 78: 'CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS',
 79: 'HOMEREADY_PROGRAM_INDICATOR',
 80: 'FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT',
 81: 'RELOCATION_MORTGAGE_INDICATOR',
 82: 'ZERO_BALANCE_CODE_CHANGE_DATE',
 83: 'LOAN_HOLDBACK_INDICATOR',
 84: 'LOAN_HOLDBACK_EFFECTIVE_DATE',
 85: 'DELINQUENT_ACCRUED_INTEREST',
 86: 'PROPERTY_INSPECTION_WAIVER_INDICATOR',
 87: 'HIGH_BALANCE_LOAN_INDICATOR',
 88: 'ARM_5_YR_INDICATOR',
 89: 'ARM_PRODUCT_TYPE',
 90: 'MONTHS_UNTIL_FIRST_PAYMENT_RESET',
 91: 'MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET',
 92: 'INTEREST_RATE_CHANGE_DATE',
 93: 'PAYMENT_CHANGE_DATE',
 94: 'ARM_INDEX',
 95: 'ARM_CAP_STRUCTURE',
 96: 'INITIAL_INTEREST_RATE_CAP',
 97: 'PERIODIC_INTEREST_RATE_CAP',
 98: 'LIFETIME_INTEREST_RATE_CAP',
 99: 'MARGIN',
 100: 'BALLOON_INDICATOR',
 101: 'PLAN_NUMBER',
 102: 'FORBEARANCE_INDICATOR',
 103: 'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR',
 104: 'DEAL_NAME',
 105: 'RE_PROCS_FLAG',
 106: 'ADR_TYPE',
 107: 'ADR_COUNT',
 108: 'ADR_UPB'}

In [49]:
l1

array([100010724683, 100013977474, 100015036345, ..., 135706030251,
       135706324378, 135706645955], dtype=int64)

In [77]:
data[data['LOAN_ID']==100007361597]['Zero_Bal_Code'].unique() #[['Zero_Bal_Code', 'DISPOSITION_DATE', 'LAST_PAID_INSTALLMENT_DATE', 'ZB_DTE']]

array([nan,  1.])

In [23]:

chunks2 = pd.read_csv("Zip_files/2017Q4.zip", compression='zip', sep = '|', 
                     header=None, names=All_columns, on_bad_lines='skip', 
                     chunksize = current_size)

In [24]:
for chunk2 in chunks2:
    data2 = chunk2
    break

In [36]:
l2 = data2['LOAN_ID'].unique()

In [40]:
set(l1).intersection(set(l2))

set()

In [60]:
all_null_columns

['POOL_ID',
 'MASTER_SERVICER',
 'ISSUANCE_UPB',
 'FIRST_PAY_IO',
 'MNTHS_TO_AMTZ_IO',
 'MI_CANCEL_FLAG',
 'RPRCH_DTE',
 'CURR_SCHD_PRNCPL',
 'UNSCHD_PRNCPL_CURR',
 'ORIGINAL_LIST_START_DATE',
 'ORIGINAL_LIST_PRICE',
 'CURRENT_LIST_START_DATE',
 'CURRENT_LIST_PRICE',
 'ISSUE_SCOREB',
 'ISSUE_SCOREC',
 'CURR_SCOREB',
 'CURR_SCOREC',
 'CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT',
 'CUMULATIVE_MODIFICATION_LOSS_AMOUNT',
 'CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS',
 'CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS',
 'ZERO_BALANCE_CODE_CHANGE_DATE',
 'LOAN_HOLDBACK_INDICATOR',
 'LOAN_HOLDBACK_EFFECTIVE_DATE',
 'DELINQUENT_ACCRUED_INTEREST',
 'ARM_5_YR_INDICATOR',
 'ARM_PRODUCT_TYPE',
 'MONTHS_UNTIL_FIRST_PAYMENT_RESET',
 'MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET',
 'INTEREST_RATE_CHANGE_DATE',
 'PAYMENT_CHANGE_DATE',
 'ARM_INDEX',
 'ARM_CAP_STRUCTURE',
 'INITIAL_INTEREST_RATE_CAP',
 'PERIODIC_INTEREST_RATE_CAP',
 'LIFETIME_INTEREST_RATE_CAP',
 'MARGIN',
 'BALLOON_INDICATOR',
 'PLAN_NUMBER',
 'DEAL_NAME']