In [2]:
import pandas as pd

In [4]:
dataset = pd.read_csv("New_Data/2007Q1_ft.csv", header=0,
                 usecols=["ZB_DTE", "SELLER", "STATE", "FORECLOSURE_DATE", "FORECLOSURE_COSTS"])

In [9]:
dataset.info()
print(dataset.columns)
print(dataset.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35108 entries, 0 to 35107
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SELLER             35108 non-null  object
 1   STATE              35108 non-null  object
 2   ZB_DTE             35108 non-null  float64
 3   FORECLOSURE_DATE   21584 non-null  float64
 4   FORECLOSURE_COSTS  21364 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.3+ MB
Index(['SELLER', 'STATE', 'ZB_DTE', 'FORECLOSURE_DATE', 'FORECLOSURE_COSTS'], dtype='object')
                   SELLER STATE    ZB_DTE  FORECLOSURE_DATE  FORECLOSURE_COSTS
0          Pnc Bank, N.A.    MI   82013.0           82013.0             4545.8
1  Suntrust Mortgage Inc.    GA   32010.0               NaN                NaN
2      Citimortgage, Inc.    IN  102012.0               NaN                NaN

In [10]:
dataset['MonthYear'] = dataset['ZB_DTE'].fillna(0.0).astype(int)
dataset['FORECLOSURE_DATE'] = dataset['FORECLOSURE_DATE'].fillna(0.0).astype(int)
dataset['FORECLOSURE_COSTS'] = dataset['FORECLOSURE_COSTS'].fillna(0.0).astype(float)
colnames = ["MonthYear", "SELLER", "STATE", "FORECLOSURE_DATE", "FORECLOSURE_COSTS"]
zbdataset = pd.DataFrame(dataset,  columns=colnames)
indexed_zbdataset = zbdataset.set_index(['MonthYear'])
print(indexed_zbdataset)

                                              SELLER STATE  FORECLOSURE_DATE  \
MonthYear
82013                                 Pnc Bank, N.A.    MI             82013
32010                         Suntrust Mortgage Inc.    GA                 0
102012                            Citimortgage, Inc.    IN                 0
122007                         Bank Of America, N.A.    MA                 0
32016                             Gmac Mortgage, Llc    CA                 0
...                                              ...   ...               ...
92010                          Bank Of America, N.A.    OH             92010
112021                         Bank of America, N.A.    MD            112021
12013      Jpmorgan Chase Bank, National Association    IN             12013
62012                                 Pnc Bank, N.A.    GA             62012
122014     First Tennessee Bank National Association    MO            122014

           FORECLOSURE_COSTS
MonthYear
82013                4545.80
32010                   0.00
102012                  0.00
122007                  0.00
32016                   0.00
...                      ...
92010                5736.24
112021              12857.00
12013                3072.05
62012                4036.39
122014               3759.21

[35108 rows x 4 columns]

In [11]:
initial_claims = pd.read_csv("MacroEconomicVariables/InitialClaims.csv")
##initial_claims['DATE'] = pd.to_numeric(initial_claims['DATE'].str.replace('/',''))
##initial_claims['DATE'] = pd.to_datetime(initial_claims['DATE'])
initial_claims['MonthYear'] = pd.to_datetime(initial_claims['DATE']).dt.to_period('M')
initial_claims['MonthYear'] = initial_claims['MonthYear'].map(lambda x: x.strftime('%m%Y'))
initial_claims['MonthYear'] = initial_claims['MonthYear'].fillna(0.0).astype(int)
monthly_claims = initial_claims.groupby(['MonthYear'])['ICSA'].sum()
##print(monthly_claims)

In [12]:
pd.set_option('display.max_columns', 12)
merged_dataset = pd.merge(zbdataset, monthly_claims, on=['MonthYear'], how='inner')
print(merged_dataset.head(3))

   MonthYear                 SELLER STATE  FORECLOSURE_DATE  \
0      82013         Pnc Bank, N.A.    MI             82013
1      82013     Gmac Mortgage, Llc    MA                 0
2      82013  Bank Of America, N.A.    IL                 0

   FORECLOSURE_COSTS     ICSA
0             4545.8  1667000
1                0.0  1667000
2                0.0  1667000

In [3]:
pd.set_option('display.max_columns', 20)

## read foreclosure file for foreclosure date is not null
## it will read only given list of columns; add mmore columns if needed
foreclosure_dataset = pd.read_csv("New_Data/2007Q1_ft.csv", header=0,
                 usecols=["ORIG_DATE", "FORECLOSURE_DATE", "STATE", "FORECLOSURE_COSTS"])
foreclosure_dataset = foreclosure_dataset.loc[foreclosure_dataset['FORECLOSURE_DATE'].notnull()]

In [4]:
## split year and month from the foreclosure date column
foreclosure_dataset['YEAR'] = foreclosure_dataset['FORECLOSURE_DATE'].fillna(0.0).astype(int) % 10000
foreclosure_dataset['MONTH'] = foreclosure_dataset['FORECLOSURE_DATE'].fillna(0.0).astype(int) // 10000

In [5]:
## printing top 3 rows; checking how data looks like
##print(foreclosure_dataset.head(3))
foreclosure_dataset = foreclosure_dataset.drop(columns=['ORIG_DATE', 'FORECLOSURE_DATE'])
##foreclosure_dataset['ORIG_DATE'] = foreclosure_dataset['ORIG_DATE'].fillna(0.0).astype(int)
foreclosure_dataset['FORECLOSURE_COSTS'] = foreclosure_dataset['FORECLOSURE_COSTS'].fillna(0.0).astype(float)
fc_cost_state_yearly = foreclosure_dataset.groupby(['STATE', 'YEAR'])['FORECLOSURE_COSTS'].sum()
print(fc_cost_state_yearly)

STATE  YEAR
AK     2008    14087.68
       2010     4603.84
       2011    11574.90
       2012    18833.71
       2015     8886.89
                 ...
WY     2013     6184.09
       2016     4762.58
       2017     7370.05
       2018     6001.59
       2020        0.00
Name: FORECLOSURE_COSTS, Length: 732, dtype: float64

In [6]:
## read state housing price index file and extract year part out of date column
state_hpi = pd.read_csv("MacroEconomicVariables/States_HPI.csv").tail(90)
state_hpi['YEAR'] = pd.to_datetime(state_hpi['DATE']).dt.to_period('Y')
state_hpi = state_hpi.drop('DATE', axis=1)
## rename state hpi headers with 2 letters state name
state_hpi.columns = pd.Index(map(lambda x : str(x)[:2], state_hpi.columns))
## rename state hpi ye column back to year; it was shortened to 2 letters in previous step
state_hpi = state_hpi.rename(columns={c: 'YEAR' for c in state_hpi.columns if c in ['YE']})
##print(state_hpi.columns)
hpi_mean_dataset = state_hpi.groupby(['YEAR']).mean().round(2)
## print last 5 rows and 7 columns of data
print(hpi_mean_dataset.iloc[15:21, :6])
print('\n')

          AL      AR      AZ      CA      CO      CT
YEAR
2016  293.07  261.65  342.42  559.57  465.09  388.15
2017  301.88  270.88  368.18  596.18  507.20  390.32
2018  314.23  280.85  397.22  634.88  549.62  394.70
2019  329.92  291.54  423.68  655.38  576.66  405.52
2020  349.05  303.74  458.52  683.18  604.56  423.52
2021  394.54  342.98  559.14  779.18  696.85  482.16

In [7]:
initial_claims = pd.read_csv("MacroEconomicVariables/InitialClaims.csv")
initial_claims['YEAR'] = pd.to_datetime(initial_claims['DATE']).dt.to_period('Y').astype(str)
yearly_claims = initial_claims.groupby(['YEAR'])['ICSA'].mean().astype(int)
print(yearly_claims.head(6))

YEAR
1967    226942
1968    197057
1969    196384
1970    296557
1971    295730
1972    263056
Name: ICSA, dtype: int64