In [37]:
import pandas as pd

In [38]:
data = pd.read_csv("New_Data/2007Q1_ft.csv")
initial_claims = pd.read_csv("MacroEconomicVariables/InitialClaims.csv")
mortgage_FHA = pd.read_csv("MacroEconomicVariables/Mortgage.csv")
national_HPI = pd.read_csv("MacroEconomicVariables/National_HPI.csv")
state_HPI = pd.read_csv("MacroEconomicVariables/States_HPI.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_16764\3235749867.py:1: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("New_Data/2007Q1_ft.csv")

In [39]:
data['ZB_DTE']

0         82013.0
1         32010.0
2        102012.0
3        122007.0
4         32016.0
           ...
35103     92010.0
35104    112021.0
35105     12013.0
35106     62012.0
35107    122014.0
Name: ZB_DTE, Length: 35108, dtype: float64

Date transformation in Data

In [40]:
data['ZB_DTE'] = data['ZB_DTE'].astype('Int64')
data['ZB_DTE'] = pd.to_datetime(data['ZB_DTE'], format='%m%Y')
data['ZB_DTE'] = data['ZB_DTE'].dt.to_period('M')
data['FIRST_PAY'] = pd.to_datetime(data['FIRST_PAY'], format='%m%Y')
data['FIRST_PAY'] = data['FIRST_PAY'].dt.to_period('M')
data['ORIG_DATE'] = pd.to_datetime(data['ORIG_DATE'], format='%m%Y')
data['ORIG_DATE'] = data['ORIG_DATE'].dt.to_period('M')
data['ACT_PERIOD'] = pd.to_datetime(data['ACT_PERIOD'], format='%m%Y')
data['ACT_PERIOD'] = data['ACT_PERIOD'].dt.to_period('M')

Initial Unemployment Claims Data Cleaning

In [41]:
data['FIRST_PAY']

0        2007-03
1        2007-04
2        2007-03
3        2007-02
4        2007-03
          ...
35103    2007-03
35104    2007-02
35105    2007-02
35106    2007-01
35107    2007-02
Name: FIRST_PAY, Length: 35108, dtype: period[M]

In [42]:
data['FIRST_PAY']

0        2007-03
1        2007-04
2        2007-03
3        2007-02
4        2007-03
          ...
35103    2007-03
35104    2007-02
35105    2007-02
35106    2007-01
35107    2007-02
Name: FIRST_PAY, Length: 35108, dtype: period[M]

In [43]:
initial_claims['DATE'] = pd.to_datetime(initial_claims['DATE'])
initial_claims['Year_Month'] = initial_claims['DATE'].dt.to_period('M')
monthly_claims = initial_claims.groupby(['Year_Month'])['ICSA'].sum()

initial_claims['Year_Month'] = initial_claims['Year_Month'].astype(str)
initial_claims['Year_Month'] = initial_claims['Year_Month']+"-01"

initial_claims_Date = initial_claims['Year_Month'].unique()

monthly_claims = initial_claims.groupby(['Year_Month'])['ICSA'].sum()
monthly_claims

Year_Month
1967-01-01     836000
1967-02-01     916000
1967-03-01    1043000
1967-04-01    1315000
1967-05-01     943000
               ...
2023-06-01    1027000
2023-07-01    1162000
2023-08-01     951000
2023-09-01    1054000
2023-10-01     209000
Name: ICSA, Length: 682, dtype: int64

In [44]:
# create a dict for monthly_claims
monthly_claims_dict = {'ZB_DTE': initial_claims_Date, "claim_sum": monthly_claims}

monthly_claims_df = pd.DataFrame(monthly_claims_dict)

monthly_claims_df

                ZB_DTE  claim_sum
Year_Month
1967-01-01  1967-01-01     836000
1967-02-01  1967-02-01     916000
1967-03-01  1967-03-01    1043000
1967-04-01  1967-04-01    1315000
1967-05-01  1967-05-01     943000
...                ...        ...
2023-06-01  2023-06-01    1027000
2023-07-01  2023-07-01    1162000
2023-08-01  2023-08-01     951000
2023-09-01  2023-09-01    1054000
2023-10-01  2023-10-01     209000

[682 rows x 2 columns]

In [45]:
data['ZB_DTE'] = data['ZB_DTE'].astype(str)
data['ZB_DTE'] = data['ZB_DTE'] + '-01'

In [46]:
data = data.merge(monthly_claims_df, on = 'ZB_DTE', how = 'left')

Mortgage FHA Cleaning

In [47]:
for i in range(len(mortgage_FHA.DATE)):
    mortgage_FHA.DATE[i] = mortgage_FHA.DATE[i][:-3]
    mortgage_FHA.DATE[i] = mortgage_FHA.DATE[i]+"-01"
    
mortgage_FHA_Date = mortgage_FHA.DATE.unique()

C:\Users\Admin\AppData\Local\Temp\ipykernel_16764\3592622961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mortgage_FHA.DATE[i] = mortgage_FHA.DATE[i][:-3]
C:\Users\Admin\AppData\Local\Temp\ipykernel_16764\3592622961.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mortgage_FHA.DATE[i] = mortgage_FHA.DATE[i]+"-01"

In [48]:
mortgage_FHA['DATE'] = pd.to_datetime(mortgage_FHA['DATE'])
#mortgage_FHA['Year_Month'] = mortgage_FHA['DATE'].dt.to_period('M')
mortgage_FHA = mortgage_FHA.groupby(['DATE'])['MORTGAGE30US'].mean()

mortgage_FHA

DATE
1971-04-01    7.3100
1971-05-01    7.4250
1971-06-01    7.5300
1971-07-01    7.6040
1971-08-01    7.6975
               ...
2023-06-01    6.7140
2023-07-01    6.8400
2023-08-01    7.0720
2023-09-01    7.2000
2023-10-01    7.5300
Name: MORTGAGE30US, Length: 631, dtype: float64

In [49]:
# create a dict for mortgage_FHA
mortgage_dict = {'ZB_DTE': mortgage_FHA_Date, "FHA_Mean": mortgage_FHA}

mortgage_FHA_df = pd.DataFrame(mortgage_dict)

mortgage_FHA_df

                ZB_DTE  FHA_Mean
DATE
1971-04-01  1971-04-01    7.3100
1971-05-01  1971-05-01    7.4250
1971-06-01  1971-06-01    7.5300
1971-07-01  1971-07-01    7.6040
1971-08-01  1971-08-01    7.6975
...                ...       ...
2023-06-01  2023-06-01    6.7140
2023-07-01  2023-07-01    6.8400
2023-08-01  2023-08-01    7.0720
2023-09-01  2023-09-01    7.2000
2023-10-01  2023-10-01    7.5300

[631 rows x 2 columns]

In [50]:
mortgage_FHA_df.iloc[0,0]

'1971-04-01'

In [51]:
data = data.merge(mortgage_FHA_df, on = 'ZB_DTE', how = 'left')

In [52]:
mortgage_FHA

DATE
1971-04-01    7.3100
1971-05-01    7.4250
1971-06-01    7.5300
1971-07-01    7.6040
1971-08-01    7.6975
               ...
2023-06-01    6.7140
2023-07-01    6.8400
2023-08-01    7.0720
2023-09-01    7.2000
2023-10-01    7.5300
Name: MORTGAGE30US, Length: 631, dtype: float64

National HPI Cleaning

In [53]:
national_HPI['DATE'] = pd.to_datetime(national_HPI['DATE'])
national_HPI['Year_Month'] = national_HPI['DATE'].dt.to_period('M')

State HPI Cleaning

In [54]:
# state_HPI['DATE'] = pd.to_datetime(national_HPI['DATE'])
new_column_names = ['DATE'] + [col[:2] for col in state_HPI.columns[1:]]
state_HPI.columns = new_column_names

In [55]:
national_HPI

          DATE  CSUSHPISA Year_Month
0   1987-01-01     63.964    1987-01
1   1987-02-01     64.424    1987-02
2   1987-03-01     64.736    1987-03
3   1987-04-01     65.132    1987-04
4   1987-05-01     65.563    1987-05
..         ...        ...        ...
434 2023-03-01    298.396    2023-03
435 2023-04-01    300.208    2023-04
436 2023-05-01    302.685    2023-05
437 2023-06-01    304.741    2023-06
438 2023-07-01    306.720    2023-07

[439 rows x 3 columns]

In [56]:
state_HPI

,DATE,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1975-01-01,75.22,66.55,60.51,41.69,54.41,62.21,47.85,77.03,65.93,...,74.98,68.01,55.82,55.15,69.75,77.37,46.26,61.77,50.45,49.59
1,1975-04-01,72.22,60.23,59.82,42.75,54.85,62.72,47.60,89.61,83.46,...,70.42,68.82,58.59,58.70,66.78,76.93,47.25,62.79,65.55,47.87
2,1975-07-01,74.62,64.93,59.36,44.32,54.81,61.80,47.32,115.70,66.80,...,65.00,67.75,56.15,55.17,67.53,67.12,49.72,64.48,66.40,50.11
3,1975-10-01,71.70,62.81,56.24,45.76,55.00,61.81,54.69,71.67,68.20,...,63.85,70.93,59.32,59.91,67.77,72.88,48.06,69.05,66.92,53.53
4,1976-01-01,77.10,66.91,58.93,47.80,55.10,64.74,53.10,79.54,67.97,...,62.85,70.30,58.46,61.80,69.37,117.03,50.36,65.49,61.75,54.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,2022-04-01,460.45,402.61,693.14,922.93,835.95,555.13,1104.96,642.21,734.87,...,555.62,603.15,492.95,813.04,641.55,695.62,974.27,498.90,298.05,440.17
190,2022-07-01,474.78,416.73,702.91,917.43,827.46,565.42,1095.05,645.59,766.55,...,567.29,622.57,503.65,808.48,649.62,730.56,966.19,509.61,303.63,451.63
191,2022-10-01,475.18,416.58,680.08,896.33,810.79,564.51,1075.99,650.76,765.85,...,569.87,623.45,500.05,783.84,649.77,717.90,938.39,506.73,302.35,450.62
192,2023-01-01,481.20,424.70,672.86,892.69,811.18,571.32,1046.76,663.90,767.26,...,571.88,626.74,499.41,777.80,657.83,732.67,936.22,511.99,306.91,451.86
193,2023-04-01,488.98,434.88,685.70,914.96,832.20,599.74,1062.00,672.17,785.74,...,587.81,641.70,507.59,793.15,680.88,771.42,965.15,537.62,305.42,455.07

In [58]:
data['STATE']

0        MI
1        GA
2        IN
3        MA
4        CA
         ..
35103    OH
35104    MD
35105    IN
35106    GA
35107    MO
Name: STATE, Length: 35108, dtype: object

In [63]:
HPI_lst = []
for i in range(len(data)):
    HPI_lst.append()

AttributeError: 'str' object has no attribute 'astype'

In [66]:
state_HPI.loc[]

[1, 2]

In [67]:
state_HPI['DATE'].index('1975-01-01')

TypeError: 'RangeIndex' object is not callable

In [74]:
state_HPI['DATE'].tolist().index(data['ZB_DTE'][0])

ValueError: '2013-08-01' is not in list

In [73]:
data['ZB_DTE'][0]

'2013-08-01'